/* body{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.container-login {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
}
.box-login {
  position: absolute;
  height: 70vh;
  gap: 20px;
  width: 60vh;
  box-shadow: 0 0 10px 0px #2589ff, 0 0 10px 10px #b64aff, 0 0 10px 0px #ff3c8e;
  border-radius: 20px;
}
.login {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px;
}
.login h1 {
  font-size: 30px;
  text-transform: uppercase;
  border-bottom: 1px solid #45397f;
}
.login input {
  width: 300px;
  height: 30px;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  padding: 10px;
}
.form-login {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  font-size: 18px;
  font-weight: bolder;
  gap: 10px;
}
.login-button {
  height: 40px;
  width: 50%;
  font-size: 25px;
  background-color: #ff3c8e;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid white;
}
